.DS_Store
null-effects-news-experiments/Data/
null-effects-news-experiments/Data/crosswalk_us.csv
null-effects-news-experiments/Data/pl_survey_long.csv
null-effects-news-experiments/Data/PL_survey_w1_raw_filtered.sav
null-effects-news-experiments/Data/PL_survey_w2_raw_filtered.sav
null-effects-news-experiments/Data/pl_survey_wide.csv
null-effects-news-experiments/Data/pl_trace_ideology.csv
null-effects-news-experiments/Data/us_survey_long.csv
null-effects-news-experiments/Data/us_survey_wide.csv
null-effects-news-experiments/Data/Zbiór_US_Wojcieszak_experimental7_v3.sav
null-effects-news-experiments/scrap/crosswalk_us.csv
null-effects-news-experiments/scrap/domains_list.csv
null-effects-news-experiments/scrap/ideo_correction_pl.sql
null-effects-news-experiments/scrap/pl_survey_all.sav
null-effects-news-experiments/scrap/pl_survey_long.csv
null-effects-news-experiments/scrap/PL_survey_w1_raw_filtered.sav
null-effects-news-experiments/scrap/PL_survey_w2_raw_filtered.sav
null-effects-news-experiments/scrap/pl_survey_wide.csv
null-effects-news-experiments/scrap/pl_survey_wide.sav
null-effects-news-experiments/scrap/pl_trace_activedays.csv
null-effects-news-experiments/scrap/pl_trace_aggregates.csv
null-effects-news-experiments/scrap/pl_trace_domains.csv
null-effects-news-experiments/scrap/pl_trace_ideology copy.csv
null-effects-news-experiments/scrap/pl_trace_ideology.csv
null-effects-news-experiments/scrap/pl_trace_totals.xlsx
null-effects-news-experiments/scrap/pl_trace_visits_NEW.csv
null-effects-news-experiments/scrap/pl_trace_visits_OLD.csv
null-effects-news-experiments/scrap/pl_trace_visits_OLD2.csv
null-effects-news-experiments/scrap/us_survey_all.csv
null-effects-news-experiments/scrap/us_survey_long.csv
null-effects-news-experiments/scrap/us_survey_wide.csv
null-effects-news-experiments/scrap/us_trace_activedays.csv
null-effects-news-experiments/scrap/us_trace_aggregates.csv
null-effects-news-experiments/scrap/us_trace_domains.csv
null-effects-news-experiments/scrap/us_trace_ideology.csv
null-effects-news-experiments/scrap/us_trace_totals.csv
null-effects-news-experiments/scrap/us_trace_visits_NEW.csv
null-effects-news-experiments/scrap/us_trace_visits_OLD.csv
null-effects-news-experiments/scrap/Zbiór_US_Wojcieszak_experimental7_v3.sav
null-effects-news-experiments/Data/crosswalk_us.csv
null-effects-news-experiments/Data/pl_survey_long.csv
null-effects-news-experiments/Data/PL_survey_w1_raw_filtered.sav
null-effects-news-experiments/Data/PL_survey_w2_raw_filtered.sav
null-effects-news-experiments/Data/pl_survey_wide.csv
null-effects-news-experiments/Data/pl_trace_ideology.csv
null-effects-news-experiments/Data/us_survey_long.csv
null-effects-news-experiments/Data/us_survey_wide.csv
null-effects-news-experiments/Data/Zbiór_US_Wojcieszak_experimental7_v3.sav
